.my-div .active{
    background: #a8a8a8;
    border: 2px solid #808080;
}

.my-color-gray{
    background: #a8a8a8;
}

.image{
    width: 60%;
    float: left;
    margin-right: 16px;
}

.card-sh{
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, .3);
    margin-top: 20px;
}

.my-header{
    height: 25vh;          /* Фиксированная высота заголовка */
    overflow: hidden;
}

.head_img{
    width: 100%;            /* Изображение занимает всю ширину */
    height: 100%;           /* Высота изображения равна высоте заголовка */
    object-fit: cover;      /* Обрезает изображение, сохраняя пропорции */
    object-position: center; /* Центрирует изображение внутри контейнера, чтобы обрезать верх и низ */
}

