<!DOCTYPE html>
<html lang="en" th:replace="~{base::layout(~{::forwarded_content})}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:fragment="forwarded_content">
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">

                <div class="card card-sh">

                    <div class="card-header text-center fs-4">Добавить игру</div>

                    <th:block th:if="${session.succMsg}">
                        <p th:text="${session.succMsg}" class="text-success fw-bold text-center mt-4"></p>
                        <th:block th:text="${@sessionManagementService.removeSessionMessage()}"></th:block>
                    </th:block>

                    <th:block th:if="${session.errorMsg}">
                        <p th:text="${session.errorMsg}" class="text-danger fw-bold text-center mt-4"></p>
                        <th:block th:text="${@sessionManagementService.removeSessionMessage()}"></th:block>
                    </th:block>

                    <div class="card-body">
                        <form action="/admin/saveGame" method="post" enctype="multipart/form-data">
<!--                            <input type="hidden" name="id">-->
                            <div class="mb-3">
                                Введите название
                                <input type="text" name="name" class="form-control">
                            </div>
                            <div class="mb-3">
                                Введите описание
                                <textarea name="description" cols="" rows="3" class="form-control"></textarea>
                            </div>
                            <div class="mb-3">
                                Жанр
                                <select name="genre" class="form-control">
                                    <option hidden="hidden">--выбрать</option>
                                    <option th:each="g:${genres}" th:text="${g.name}"></option>
                                </select>
                            </div>
                            <div class="mb-3">
                                Загрузить изображение
                                <input type="file" name="image" class="form-control">
                            </div>
                            <div class="mb-3">
                                Введите цену
                                <input type="number" name="price" class="form-control">
                            </div>
                            <button class="btn btn-primary col-md-12">Сохранить</button>
                        </form>
                    </div>

                </div>

            </div>
        </div>
    </div>
</div>
</body>
</html>