<!DOCTYPE html>
<html lang="en" th:replace="~{base::layout(~{::forwarded_content})}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:fragment="forwarded_content">
    <div class="container mb-4">
        <div class="row">
            <div class="col-md-6 offset-md-3">

                <div class="card card-sh">

                    <div class="card-header text-center fs-4">Добавить игру</div>

                    <th:block th:if="${session.succMsg}">
                        <p th:text="${session.succMsg}" class="text-success fw-bold text-center mt-4"></p>
                        <th:block th:text="${@sessionManagementService.removeSessionMessage()}"></th:block>
                    </th:block>

                    <th:block th:if="${session.errorMsg}">
                        <p th:text="${session.errorMsg}" class="text-danger fw-bold text-center mt-4"></p>
                        <th:block th:text="${@sessionManagementService.removeSessionMessage()}"></th:block>
                    </th:block>

                    <div class="card-body">
                        <form action="/admin/saveGame" method="post" enctype="multipart/form-data">
<!--                            <input type="hidden" name="id">-->
                            <div class="mb-3">
                                Введите название
                                <input type="text" name="name" class="form-control">
                            </div>
                            <div class="mb-3">
                                Введите описание
                                <textarea name="description" cols="" rows="3" class="form-control"></textarea>
                            </div>
                            <div class="mb-3">
                                Выберите платформу
                                <select name="platform" class="form-control" required id="platformSelect">
                                    <option value="" hidden="hidden" disabled selected>--выбрать</option>
                                    <option value="Windows">Windows</option>
                                    <option>PlayStation 3</option>
                                    <option>PlayStation 4</option>
                                    <option>Xbox 360</option>
                                    <option>Xbox One</option>
                                    <option>Nintendo Switch</option>
                                </select>
                            </div>
                            <div class="mb-3">
                                Жанр
                                <select name="genre" class="form-control" required>
                                    <option value="" hidden="hidden" disabled selected>--выбрать</option>
                                    <option th:each="g:${genres}" th:text="${g.name}"></option>
                                </select>
                            </div>
                            <div class="mb-3" id="systemRequirementsDiv">
                                Введите системные требования
                                <textarea name="systemRequirements" id="systemRequir" cols="" rows="3" class="form-control"></textarea>
                            </div>
                            <div class="mb-3">
                                Игра с возрастным ограничением PG-18
                                <input type="checkbox" name="pg18">
                            </div>
                            <div class="mb-3">
                                Загрузить изображения
                                <input type="file" name="files[]" class="form-control" multiple>
                            </div>
                            <div class="mb-3">
                                Введите цену
                                <input type="number" name="price" class="form-control">
                            </div>
                            <button class="btn btn-primary col-md-12">Сохранить</button>
                        </form>
                    </div>

                </div>

            </div>
        </div>
    </div>

    <script src="/js/script_for_add_edit_game.js"></script>
</div>
</body>
</html>