<!DOCTYPE html>
<html lang="en" th:replace="~{base::layout(~{::forwarded_content})}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:fragment="forwarded_content">
    <div class="container p-5">
        <p class="text-center fs-3 mt-4">Панель админа</p>

        <div class="row p-5">

            <div class="col-md-6 mt-2">
                <a href="/admin/loadAddGame" class="text-decoration-none">
                    <div class="card card-sh">
                        <div class="card-body text-center text-primary">
                            <img src="/img/icon/1.jpg" class="img-fluid">
                            <h4>Добавить игру</h4>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-md-6 mt-2">
                <a href="/admin/genre" class="text-decoration-none">
                    <div class="card card-sh">
                        <div class="card-body text-center text-warning">
                            <img src="/img/icon/2.jpg" class="img-fluid">
                            <h4>Добавить жанр</h4>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-md-6 mt-2">
                <a href="/admin/games" class="text-decoration-none">
                    <div class="card card-sh">
                        <div class="card-body text-center text-success">
                            <img src="/img/icon/3.jpg" class="img-fluid">
                            <h4>Игры</h4>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-md-6 mt-2">
                <a href="/admin/users" class="text-decoration-none">
                    <div class="card card-sh">
                        <div class="card-body text-center text-primary">
                            <img src="/img/icon/4.jpg" class="img-fluid">
                            <h4>Пользователи</h4>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-md-6 mt-2">
                <a href="/admin/add-admin" class="text-decoration-none">
                    <div class="card card-sh">
                        <div class="card-body text-center text-warning">
                            <img src="/img/icon/5.jpg" class="img-fluid">
                            <h4>Добавить админа</h4>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-md-6 mt-2">
                <a href="/admin/profile" class="text-decoration-none">
                    <div class="card card-sh">
                        <div class="card-body text-center text-primary">
                            <img src="/img/icon/6.jpg" class="img-fluid">
                            <h4>Админ</h4>
                        </div>
                    </div>
                </a>
            </div>

        </div>
    </div>
</div>
</body>
</html>