<!DOCTYPE html>
<html lang="en" th:replace="~{base::layout(~{::forwarded_content})}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="text-center" th:fragment="forwarded_content">
    <div class="container">
        <div class="row">

            <div class="col-md-8 offset-md-2">
                <div class="card card-sh">

                    <div class="card-header">
                        <h1>Ваш профиль</h1>
                    </div>

                    <div class="card-body">
                        <h4>Имя: <span th:text="${user.name}"></span></h4>
                        <h4>Email: <span th:text="${user.email}"></span></h4>
                        <h4>Роль: <span th:text="${user.role}"></span></h4>

                        <div class="m-3">
                            <button class="btn btn-secondary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasTop"
                                    aria-controls="offcanvasTop">Выйти
                            </button>

                            <div class="offcanvas offcanvas-top" tabindex="-1" id="offcanvasTop" aria-labelledby="offcanvasTopLabel">
                                <div class="offcanvas-header">
                                    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                                </div>
                                <div class="offcanvas-body">
                                    <h2 class="offcanvas-title mx-auto" id="offcanvasTopLabel">
                                        Вы хотите выйти из учетной записи?
                                    </h2>
                                    <div class="d-flex justify-content-evenly mt-5">
                                        <a href="/logout" class="btn btn-success">Да, выйти</a>
                                        <a href="/admin/profile" class="btn btn-danger">Нет, остаться</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>