<!DOCTYPE html>
<html lang="en" th:replace="~{base::layout(~{::forwarded_content})}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:fragment="forwarded_content">
    <div class="container text-center">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <div class="card card-sh">
                    <div class="card-header">
                        <h1>О нас</h1>
                    </div>
                    <div class="card-body">
                        Мы - онлайн магазин компьютерных игр
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>