<!DOCTYPE html>
<html lang="en" th:replace="~{base::layout(~{::forwarded_content})}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:fragment="forwarded_content" class="my-div">
  <div class="container card-sh">
    <div class="col-md-12 p-5">
      <img src="/img/post_img/gta_v.jpg" class="image" width="100%">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam at atque dicta eaque eius fuga harum id, illo incidunt ipsam itaque iure labore necessitatibus nisi optio quidem, quo soluta veniam. Lorem ipsum dolor sit amet, consectetur adipisicing elit. A blanditiis consequuntur cupiditate deleniti, deserunt dicta error est et eum exercitationem maiores nisi, obcaecati, optio provident quaerat quis saepe. Ipsum, repellendus. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem doloribus ea esse facilis hic, id impedit laborum odio officia perferendis porro possimus qui repudiandae tempore, ut voluptates voluptatibus. Est, vel! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus repudiandae rerum sit! A aliquid aperiam beatae, consequatur culpa eos, fuga, illo maiores quas repellendus reprehenderit sunt? Aperiam eaque optio voluptates!</p>
    </div>
  </div>
</div>
</body>
</html>