<!DOCTYPE html>
<html lang="en" th:replace="~{base::layout(~{::forwarded_content})}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:fragment="forwarded_content" class="my-div">
  <div class="container card-sh">
      <div class="col-md-12 p-5">
          <h3 th:text="${game.name}" class="text-center mb-5"></h3>
          <img th:src="@{'/img/game_img/'+${game.image}}" class="imageGame" width="100%">
          <div th:text="${game.description}"></div>
      </div>
  </div>
</div>
</body>
</html>